-e git+https://github.com/NextThought/nti.base.git@master#egg=nti.base
-e git+https://github.com/NextThought/nti.mimetype.git@master#egg=nti.mimetype
-e git+https://github.com/NextThought/nti.traversal.git@master#egg=nti.traversal
-e git+https://github.com/NextThought/nti.dublincore.git@master#egg=nti.dublincore
